// Primary menu.
.menu--primary-menu-en-,
.menu--primary-links {
  font-size: 1.4rem;

  ul {
    margin-top: 10px;
    padding-top: 10px;

    @include medium {
      margin: 0;
      padding-top: 0;
    }
  }

  li {
    @include medium {
      margin-right: 25px;
    }
  }

  a {
    margin-left: 30px;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;

    @include medium {
      margin-left: 0;
      padding: 2px 0;
      font-weight: 500;
    }

    &:hover,
    &:focus {
      color: $color-hover-grey;
    }
  }
}