//general
.form-item {
  width: 100%;
  @include breakpoint($sm) {
    width: auto;
  }
}

.form-text, .form-email, .form-tel, .form-date {
  padding-left: 5px;
}

.form-text, .form-email, .form-tel, .form-textarea, .form-date, .form-select {
  border-radius: 3px;
  border: 1px solid #c5c5c5;
  height: 25px;
}

.form-textarea {
  height: 120px;
  padding: 5px;
}

.form-select {
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(#{$assets-folder}/select-arrow1.svg) right 10px top 50% no-repeat white;
  background-size: 15px;
  padding-left: 10px;
}

.form-submit {
  @extend .button--blue;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
input.form-date {
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  @include breakpoint($sm) {
    width: 180px;
  }
}

//comments
.field--name-field-comments {
  padding-top: 20px;
  padding-bottom: 20px;
  .filter-wrapper {
    display: none;
  }
  .js-form-item label {
    display: block;
  }
}

//user login 
.user-login-form {
  padding-top: 15px;
  padding-bottom: 15px;
  .form-item,
  .form-actions {
    @include breakpoint($sm) {
      margin-left: 110px;
    }
  }
  .description {
    margin-top: 3px;
  }
  label {
    font-weight: bold;
  }
}

//webforms
.webform {
  padding-top: 20px;
  padding-bottom: 20px;
  label {
    font-weight: bold;
  }
  label.option {
    font-weight: normal;
  }
  .form-type-textfield,
  .form-type-tel,
  .form-type-email,
  .form-type-date {
    input {
      display: block;
      width: 100%;
      height: 25px;
      margin-top: 10px;
      @include breakpoint($sm) {
        width: 371px;
      }
    }
  }

  .form-type-date input {
    height: 30px;
  }
  .form-type-select {
    select {
      display: block;
      height: 30px;
      font-weight: bold;
      font-size: 13px;
      border: 1px solid #c5c5c5;
      width: 100%;
      @include breakpoint($sm) {
        width: 50%;
      }
    }
  }
  textarea {
    border: 1px solid #c5c5c5;
    height: 120px;
    margin-top: 10px;
  }
  fieldset {
    padding: 0;
    legend {
      font-size: 22px;
      font-weight: normal;
    }
  }
  select {
    margin: 10px 0;
  }
  .form-item {
    //margin: 10px 0;
  }
}

.webform__inner {
  background: $color-light-grey;
  border: 1px solid $color-grey;
  padding: 20px;
}

