.region-overlay {
  background: $color-dark-blue;
  width: 100%;
  height: 100%;
}

.overlay__close-button {
  height: 30px;
  width: 30px;
  float: right;
  cursor: pointer;
  margin: 20px 15px 0 0;
  background: url(#{$assets-folder}/delete.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;

  @include breakpoint($sm) {
    margin: 40px 40px 0 0;
  }
}

.overlay {
  display: none;
  will-change: transform;
  transition: transform 200ms linear;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  position: fixed;
  @include breakpoint($sm) {
    padding: 30px;
  }

  form {
    margin: auto;
  }

  .block-views-exposed-filter-blocksolr-search-page-solr-search {
    padding-top: 100px;
    .button {
      @extend .button--transparent;
    }
  }
  .block-system-branding-block {
    display: inline-block;
    float: none;
    margin: 15px 0 0 15px;
    @include breakpoint($sm) {
      margin: 40px 0 0 40px;
    }
  }
  .views-ef-fieldset-container-2 {
    display: none;
  }
}